In [80]:
import pandas as pd
import numpy as np
import re
import datetime as dt
from datetime import datetime
import json
from sqlalchemy.types import BigInteger, Time, Date, Float, Integer, Boolean, Text, TIMESTAMP

In [81]:
import sys

In [82]:
sys.path.append('python_scripts/ETL_python_scripts/')

In [83]:
import get_weather_from_google_search
import get_data_from_api
import ETL_utilities
import db_connection

In [84]:
city_names = ['Moscow', 'London']
columns = ['weather_id',
           'date',
           'time',
           'city_name',
           'temp_c',
           'temp_f']
db_df = pd.DataFrame(columns=columns)

In [85]:
#take a city
for city in city_names:
    #put city in question
    question = f'weather {city}'
    #make soup with question
    soup = get_data_from_api.soup_from_google_search(question)
    #make json from soup
    output_json = \
    get_weather_from_google_search.google_soup_to_json_weather(soup)
    #create a dictionary to save the results
    data_dict = {
    #create unique id
    'weather_id': ETL_utilities.create_unique_id_from_date(),
    #create date feature
    'date': datetime.now().date(),
    'time': datetime.now().time(),
    #data from json
    #load string json as dict and write in data dict
    'city_name': city,
    'temp_c': json.loads(output_json)['temperature_c'],
    'temp_f': json.loads(output_json)['temperature_f']}
    #convert dictionary to df for concat
    data_dict_df = pd.DataFrame([data_dict])
    db_df = pd.concat([db_df,data_dict_df])

In [86]:
db_df

,weather_id,date,time,city_name,temp_c,temp_f
0,202301-3016-0332-f177c4ba-04b3-4a6e-8b91-7439e...,2023-01-30,16:03:32.463003,Moscow,-1.0,31.0
0,202301-3016-0333-e35dc268-9860-4cb1-b90a-5e2c3...,2023-01-30,16:03:33.936686,London,9.0,48.0

In [87]:
engine = db_connection.engine
weather_dtypes = {'time': Time, 
        'date': Date, 
        'temp_c': Float, 
        'temp_f': Float}

In [88]:
weather_sql_query = '''
CREATE TABLE IF NOT EXISTS weather_prod(
weather_id TEXT,
date DATE,
time TIME,
city_name TEXT,
temp_c FLOAT,
temp_f FLOAT);

INSERT INTO weather_prod (weather_id,
        date,
        time,
        city_name,
        temp_c,
        temp_f)
(select weather_id,
        date,
        time,
        city_name,
        temp_c,
        temp_f
from weather_tmp);
    '''

In [89]:
db_connection.load_df_to_tpm_table(db_df, 'weather',  weather_dtypes)

weather loading into DB...
weather_tmp loaded

In [91]:
db_connection.load_tmp_table_to_prod_table(weather_sql_query)