In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import datetime as dt

In [2]:
df = pd.read_table('python_scripts/ETL_python_scripts/content.txt', sep="|", header=0, index_col=1)

In [3]:
df.head()

,Unnamed: 0,date,time,city_name,temp_c,temp_f,Unnamed: 7
weather_id,,,,,,,
:------------------------------------------------------,NaN,:-----------,:----------------,:------------,---------:,---------:,NaN
202301-2714-1211-297053ec-a1ce-4883-b0d5-95d63816ef9f,NaN,2023-01-27,14:12:11.218672,Moscow,-2,29,NaN
202301-2714-1212-228fb101-1e2b-4a4a-9a98-7858218c679b,NaN,2023-01-27,14:12:12.495382,London,8,46,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, :------------------------------------------------------ to  202301-2714-1212-228fb101-1e2b-4a4a-9a98-7858218c679b
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         0 non-null      float64
 1    date              3 non-null      object
 2    time              3 non-null      object
 3    city_name         3 non-null      object
 4      temp_c          3 non-null      object
 5      temp_f          3 non-null      object
 6   Unnamed: 7         0 non-null      float64
dtypes: float64(2), object(5)
memory usage: 192.0+ bytes

In [5]:
df = df.dropna(axis=1, how='all')

In [6]:
df = df.drop([':------------------------------------------------------'])

In [7]:
df.columns

Index([' date       ', ' time            ', ' city_name   ', '   temp_c ',
       '   temp_f '],
      dtype='object')

In [11]:
df.columns = ['date', 'time', 'city_name', 'temp_c', 'temp_f']

In [12]:
df.head()

,date,time,city_name,temp_c,temp_f
weather_id,,,,,
202301-2714-1211-297053ec-a1ce-4883-b0d5-95d63816ef9f,2023-01-27,14:12:11.218672,Moscow,-2,29
202301-2714-1212-228fb101-1e2b-4a4a-9a98-7858218c679b,2023-01-27,14:12:12.495382,London,8,46

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries,  202301-2714-1211-297053ec-a1ce-4883-b0d5-95d63816ef9f  to  202301-2714-1212-228fb101-1e2b-4a4a-9a98-7858218c679b
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2 non-null      object
 1   time       2 non-null      object
 2   city_name  2 non-null      object
 3   temp_c     2 non-null      object
 4   temp_f     2 non-null      object
dtypes: object(5)
memory usage: 96.0+ bytes

In [15]:
import sys

In [17]:
sys.path.append('python_scripts/')

# write to DB

In [18]:
from ETL_python_scripts import db_connection

In [20]:
engine = db_connection.engine

In [21]:
table_name = 'weather'
df.to_sql(table_name, engine, if_exists='replace')

2

# read from DB

In [23]:
sql_query = f'select * from {table_name}'
df_from_db = pd.read_sql_query(sql_query, con=engine)

In [24]:
df_from_db

,weather_id,date,time,city_name,temp_c,temp_f
0,202301-2714-1211-297053ec-a1ce-4883-b0d5-95d6...,2023-01-27,14:12:11.218672,Moscow,-2,29
1,202301-2714-1212-228fb101-1e2b-4a4a-9a98-7858...,2023-01-27,14:12:12.495382,London,8,46