##### Sorry, but everything is written in Russian
# Мануал по ETL.
##### Данный ETL процесс создан мной для проверки некоторых идей и только.

### Как обновляются данные в таблицах DB

В данной статье хорошо разбирается несколько примеров https://blog.panoply.io/how-to-load-pandas-dataframes-into-sql.

Если коротко:
- Можно использовать pd.to_sql(), но она будет работать медленно при обновлении больших таблиц. Есть вопрос по поводу закрытия соединения. Тут https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html написано "The user is responsible for engine disposal and connection closure". Однозначной информации не нашел. Например тут https://stackoverflow.com/questions/42034373/does-pandas-need-to-close-connection предлагают использовать with, но вопрос до конца не ясен. 

- Рекомендуют использовать комбинированный методов pandas + sql. Записываем новые данные для обновления во временную таблицу используя pandas, а потом обновляем основную таблицу используя SQL. Пример в статье или ниже:

#созаем временную таблицу
#параметр dtype позволяет задать тип данных в таблице

leads_dtypes = {'Телефон': BigInteger, 'ID водителя': BigInteger, 'Номер_неоформленного': BigInteger,
                'Время': Time, 'Дата': Date}

def load_to_tmp(df, table_name, dtypes):
    print(f'{table_name} loading into DB...')
    # save to Marketing.dw.{table_name}_tmp
    df.to_sql(f'{table_name}_tmp', con=db.engine, if_exists='replace', index=False,
              chunksize=10_000, method='multi', dtype=dtypes)
    print(f'{table_name}_tmp loaded')

После создания временной таблицы данные из нее переносятся в основную. Например, так:

def lead_to_fact_table():
    with engine.connect() as con:
        # Load into leads fact table from dw
        con.execute(text(
            """
            insert into tk.facts(
                 "Номер_неоформленного"
                , "ID"
                , "Расстояние заказа"
                , x_in
                , y_in
                , x_out
                , y_out
                , "Процент зоны подачи"
                , "кол_промеж_тчк"
                , "База 1"
                , "К пробок"
                , "кол_заказов_клиента"
                , "Таксометр лида"
                , "Время подачи"
                , "База 2"
                , "Расчет по базе 2"
                , "Дата"
                , "Время"
                , app_v_id
                , accept_source_id
                , req_car_type_id
                , city_id
                , zone_in_id
                , zone_out_id
                , client_id
                , status_id)
            select
                  "Номер_неоформленного"
                , "ID"
                , "Расстояние заказа"
                , x_in
                , y_in
                , x_out
                , y_out
                , "Процент зоны подачи"
                , "Кол_промеж_тчк"
                , "База 1"
                , "К пробок"
                , "Кол_заказов_клиента"
                , "Таксометр"
                , "Время подачи"
                , "База 2"
                , "Расчет по базе 2"
                , "Дата"
                , "Время"
                , avd.app_v_id
                , acs.accept_source_id
                , req_car_type_id
                , c.city_id
                , zone_in_id
                , zone_out_id
                , cd.client_id
                , sd.status_id
            from dw.leads_tmp ld
            left join tk.app_version_dim avd on avd."Версия прилаги" = ld."Версия_прилаги"
            left join tk.accept_source_dim acs on acs."Источник принятия" = ld."Источник принятия"	
            left join tk.req_car_type_dim ct on ct."Требуемый тип авто" = ld."Требуемый тип авто" 	
            left join tk.city_dim c on c."Город" = ld."Город"
            left join tk.zone_in_dim zi on zi."Название зоны подачи" = ld."Название зоны подачи"	
            left join tk.zone_out_dim zo on zo."Название зоны назначения" = ld."Название зоны назначения"
            left join tk.client_dim cd on ld."Телефон" = cd."Телефон"
            left join tk.status_dim sd on ld."Статус" = sd."Статус"
            on conflict ("Номер_неоформленного") do nothing;
            """))
    print('Leads table loaded')

в статье предлагают использовать запрос с UPDATE

"""
insert into tk.facts(
    "ID"
    , x_in
    , y_in

select
    "ID"
    , x_in
    , y_in
from dw.facts_tmp;
"""

### Настройка сети

Для корректной работы pgadmin настроил сеть в docker-compose.yml.
Для этого необходимо прописать параметр для каждого контейнера + прописать общую сеть в конце файла

В каждом контейнере:
networks:
      - postgres

Общая настройка:
networks:
  postgres:
    driver: bridge

В какой-то момент настроил сеть только для контейнера pgadmin и postgres. После этого данные из jupyter перестали загружаться в postgres. После добавления jupyter в сеть с postgres все заработало.

### pgadmin

Веб форма открывается на локальном хосте http://localhost:5050/
При входе запрашивает пароль. Необходимо ввести пароль пользователя postgres